@using MindSharper.Presentation.App.State
@inherits LayoutComponentBase
@inject LayoutState LayoutState

<MudThemeProvider @bind-IsDarkMode="LayoutState.IsDarkMode" @ref="@_mudThemeProvider"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <AppBar MudThemeProvider="@_mudThemeProvider" />
    </MudAppBar>
    <MudDrawer @bind-Open="LayoutState.IsDrawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            <a href="login"><span class="bi bi-door-open" aria-hidden="true" style="vertical-align:middle"></span>Login</a>
            <a href="register"><span class="bi bi-pencil-square" aria-hidden="true" style="vertical-align:middle"></span>Register</a>
            @* Logged in as @context.User.Identity?.Name. <a href="logout"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle"></span> Logout</a> *@
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private MudThemeProvider _mudThemeProvider;

    protected override void OnInitialized()
    {
        LayoutState.PropertyChanged += (sender, args) =>
        {
            InvokeAsync(StateHasChanged);
        };
    }
}